body 
{
    padding-top: 85px;
    background: url("backgrounds/Tortoise-Shell.svg");
    }
.logohead
{
    height: 50px; /* height of container */
    overflow: hidden;
}
.logohead img {
    height: 150px;
    margin: -55px 0 0 -50px;
}
iframe
{
    border-radius: 10px;
}
.modal-full 
{
    min-width: 90vw;
    margin-left: 80;
}